<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>广告加载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16FC9C7C1D83E9B3002F318F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16FC9C951D83E9B4002F318F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16FC9CA01D83E9B4002F318F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
